Practica2/Practica2.json
[{"id":"1d9ad226.4d8c0e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"be50f4d4.dd0808","type":"rpi-sensehat in","z":"1d9ad226.4d8c0e","name":"Pract2","motion":true,"env":false,"stick":false,"x":130,"y":320,"wires":[["e13e9886.08a0d8","b3bd7425.202518"]],"outputLabels":["Prac"]},{"id":"e13e9886.08a0d8","type":"function","z":"1d9ad226.4d8c0e","name":"Accel","func":"anterior = siguiente\nsiguiente =  {\"x\":Math.abs(msg.payload.acceleration.x),\"y\":Math.abs(msg.payload.acceleration.y),\"z\":Math.abs(msg.payload.acceleration.z)}\n\nmsg.topic = \"Accel\"\nif ( anterior.z < siguiente.z && (siguiente.z > 1.5)){ // z abruptamente\n    msg.payload = {...siguiente,\"EstadoA\":1}\n    //msg.parts = {\"EstadoA\":1}\n}else{\n    msg.payload = {...siguiente,\"EstadoA\":0}\n    //msg.parts = {\"EstadoA\":0}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nanterior = {\"x\": 0.0, \"y\": 0.0, \"z\": 1 };\nsiguiente = {\"x\": 0.0, \"y\": 0.0, \"z\": 1 };","finalize":"","x":340,"y":320,"wires":[["64ab6478.25a3ec","c2b20e9b.064db","eb7d52dd.e65ca","9d4ff4f2.ec3618"]]},{"id":"64ab6478.25a3ec","type":"function","z":"1d9ad226.4d8c0e","name":"Z axis","func":"msg.payload = msg.payload.z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":420,"wires":[["256174b.351a88c"]]},{"id":"eb7d52dd.e65ca","type":"function","z":"1d9ad226.4d8c0e","name":"X axis","func":"msg.payload = msg.payload.x\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":500,"wires":[["a382c2cc.5b9fa"]]},{"id":"c2b20e9b.064db","type":"function","z":"1d9ad226.4d8c0e","name":"Y axis","func":"msg.payload = msg.payload.y\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":460,"wires":[["4cf3e5a.fc1e51c"]]},{"id":"4cf3e5a.fc1e51c","type":"ui_chart","z":"1d9ad226.4d8c0e","name":"","group":"6af7f6ef.4577b8","order":0,"width":0,"height":0,"label":"Y Axis","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":460,"wires":[[]]},{"id":"a382c2cc.5b9fa","type":"ui_chart","z":"1d9ad226.4d8c0e","name":"","group":"6af7f6ef.4577b8","order":0,"width":0,"height":0,"label":"X Axis","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":500,"wires":[[]]},{"id":"256174b.351a88c","type":"ui_chart","z":"1d9ad226.4d8c0e","name":"","group":"6af7f6ef.4577b8","order":0,"width":0,"height":0,"label":"Z Axis","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":420,"wires":[[]]},{"id":"b3bd7425.202518","type":"function","z":"1d9ad226.4d8c0e","name":"Gyro","func":"anterior = siguiente\nsiguiente =  {\"x\":Math.abs(msg.payload.gyroscope.x),\"y\":Math.abs(msg.payload.gyroscope.y),\"z\":Math.abs(msg.payload.gyroscope.z)}\nmsg.topic = \"Gyro\";\n\nif (anterior.y < siguiente.y && siguiente.y > 2.0){\n    msg.payload = {...siguiente,\"EstadoG\":1};   \n    //msg.parts = {\"EstadoG\":1}\n}else{\n    msg.payload = {...siguiente,\"EstadoG\":0};\n    //msg.parts = {\"EstadoG\":0}\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nanterior = {\"x\":0,\"y\":0,\"z\":0};\nsiguiente = {\"x\":0,\"y\":0,\"z\":0}","finalize":"","x":350,"y":260,"wires":[["57b631cd.625ec","23c042e2.90600e","59f1c438.01e1fc","619c4e08.276be"]]},{"id":"57b631cd.625ec","type":"function","z":"1d9ad226.4d8c0e","name":"EstadoG","func":"msg.topic = \"EstadoGy\"\nmsg.payload = msg.payload.EstadoG\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["b9df8ee6.927d7"]]},{"id":"9d4ff4f2.ec3618","type":"function","z":"1d9ad226.4d8c0e","name":"EstadoA","func":"msg.topic = \"EstadoAc\"\nmsg.payload = msg.payload.EstadoA\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":320,"wires":[["b9df8ee6.927d7"]]},{"id":"b9df8ee6.927d7","type":"join","z":"1d9ad226.4d8c0e","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":280,"wires":[["67c2a887.3dbf38"]]},{"id":"67c2a887.3dbf38","type":"function","z":"1d9ad226.4d8c0e","name":"","func":"if (msg.payload.EstadoAc === 1 && msg.payload.EstadoGy === 1){\n    msg.payload = {\"Mensage\":1}\n}else{\n    msg.payload = {\"Mensage\":0}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":280,"wires":[["41986c10.08f854"]]},{"id":"21ffb000.a3cd6","type":"function","z":"1d9ad226.4d8c0e","name":"Mens","func":"//-1001384373401\n\nif (global.get(\"myData\")){\n    msg.payload = {chatId: global.get(\"myData\"),type: \"message\",content: \"Corre!! algo le paso\"}\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":380,"wires":[["c974ebc1.988118","b25838b9.ac4ff8"]]},{"id":"41986c10.08f854","type":"switch","z":"1d9ad226.4d8c0e","name":"","property":"payload.Mensage","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":380,"wires":[["21ffb000.a3cd6"]]},{"id":"c974ebc1.988118","type":"debug","z":"1d9ad226.4d8c0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":380,"wires":[]},{"id":"4d1e245d.962b0c","type":"telegram command","z":"1d9ad226.4d8c0e","name":"","command":"/start","bot":"e8a3f89a.acf828","strict":false,"hasresponse":true,"useRegex":false,"x":100,"y":580,"wires":[["30d163db.8afa0c"],["30d163db.8afa0c"]]},{"id":"b25838b9.ac4ff8","type":"telegram sender","z":"1d9ad226.4d8c0e","name":"","bot":"e8a3f89a.acf828","x":1240,"y":580,"wires":[[]]},{"id":"30d163db.8afa0c","type":"change","z":"1d9ad226.4d8c0e","name":"","rules":[{"t":"set","p":"myData","pt":"global","to":"payload.chatId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":580,"wires":[["492ded8a.a6d474"]]},{"id":"492ded8a.a6d474","type":"debug","z":"1d9ad226.4d8c0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":580,"wires":[]},{"id":"3072c5fc.6b1e9a","type":"telegram command","z":"1d9ad226.4d8c0e","name":"","command":"/famy","bot":"e8a3f89a.acf828","strict":false,"hasresponse":true,"useRegex":false,"x":100,"y":640,"wires":[["4a10f6f.527b408"],[]]},{"id":"4a10f6f.527b408","type":"function","z":"1d9ad226.4d8c0e","name":"","func":"//-1001384373401\nmsg.payload = {...msg.payload,chatId:-1001384373401}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":660,"wires":[["30d163db.8afa0c"]]},{"id":"23c042e2.90600e","type":"function","z":"1d9ad226.4d8c0e","name":"Z axis","func":"msg.payload = msg.payload.z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":40,"wires":[["a542c7ce.a76048"]]},{"id":"619c4e08.276be","type":"function","z":"1d9ad226.4d8c0e","name":"X axis","func":"msg.payload = msg.payload.x\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":120,"wires":[["c2a47037.679b2"]]},{"id":"59f1c438.01e1fc","type":"function","z":"1d9ad226.4d8c0e","name":"Y axis","func":"msg.payload = msg.payload.y\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":80,"wires":[["80c0c771.d9e1f8"]]},{"id":"80c0c771.d9e1f8","type":"ui_chart","z":"1d9ad226.4d8c0e","name":"","group":"a9059e1d.662ae","order":0,"width":0,"height":0,"label":"Y Axis","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":80,"wires":[[]]},{"id":"c2a47037.679b2","type":"ui_chart","z":"1d9ad226.4d8c0e","name":"","group":"a9059e1d.662ae","order":0,"width":0,"height":0,"label":"X Axis","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":120,"wires":[[]]},{"id":"a542c7ce.a76048","type":"ui_chart","z":"1d9ad226.4d8c0e","name":"","group":"a9059e1d.662ae","order":0,"width":0,"height":0,"label":"Z Axis","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":40,"wires":[[]]},{"id":"6af7f6ef.4577b8","type":"ui_group","name":"Aceleracion","tab":"808a0360.b483c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8a3f89a.acf828","type":"telegram bot","botname":"HelpIoTbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a9059e1d.662ae","type":"ui_group","name":"Giroscopio","tab":"808a0360.b483c","order":2,"disp":true,"width":"6","collapse":false},{"id":"808a0360.b483c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]