Practica1/Algoritmo-Node-Red-Raspberry.json
[{"id":"c28086a0.04b7f8","type":"mqtt out","z":"9fccd237.91da1","name":"","topic":"/v1.6/devices/raspberry","qos":"","retain":"","broker":"be96e57a.ed0f88","x":950,"y":160,"wires":[]},{"id":"29c7b8f.b472548","type":"inject","z":"9fccd237.91da1","name":"","topic":"","payload":"{\"boton\":0}","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":530,"y":160,"wires":[["c28086a0.04b7f8"]]},{"id":"91ba0ea3.bb6d6","type":"mqtt in","z":"9fccd237.91da1","name":"","topic":"/v1.6/devices/raspberry/boton/lv","qos":"2","datatype":"auto","broker":"be96e57a.ed0f88","x":590,"y":280,"wires":[["2a3ad16b.c803ce"]]},{"id":"ef98f3c.b06db1","type":"rpi-sensehat in","z":"9fccd237.91da1","name":"","motion":false,"env":true,"stick":false,"x":530,"y":220,"wires":[["1b56f480.10198c"]]},{"id":"2a3ad16b.c803ce","type":"rpi-sensehat out","z":"9fccd237.91da1","name":"","x":910,"y":280,"wires":[]},{"id":"1b56f480.10198c","type":"function","z":"9fccd237.91da1","name":"Object to string","func":"msg.payload = \"{\\\"Humedad\\\":\" + msg.payload.humidity + \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["8cd86d7b.dbc94"]]},{"id":"8cd86d7b.dbc94","type":"mqtt out","z":"9fccd237.91da1","name":"","topic":"/v1.6/devices/raspberry","qos":"","retain":"","broker":"be96e57a.ed0f88","x":950,"y":220,"wires":[]},{"id":"be96e57a.ed0f88","type":"mqtt-broker","z":"","name":"","broker":"industrial.api.ubidots.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]